body {
  background-color: #111b21;
  /* overflow: hidden; */
}

.App {
  text-align: center;
  background-color: #111b21;
}

.background {
  background-color: #111b21;
}

.container {
  background-color: aliceblue;
  margin: 15px;
  height: 95vh;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;
}

.vr {
  border-left: 1px solid #393939;
}

.pointer {
  cursor: pointer !important;
}

.grid-3 {
  background-color: #111b21;
  overflow-y: scroll;
}

.no-scroll {
  overflow: hidden !important;
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 35% 65%;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-rows: 30% 70%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111b21;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202c33;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

hr {
  border-color: #202c33;
  width: 90%;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
