.ListNames-Container {
  display: flex;
  background: #111b21;
  flex-direction: column;
}

.Searchbar-Container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: baseline;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: #111b21;
}

.SearchBar {
  width: 90%;
  display: flex;
  border-radius: 10px;
  background-color: #202c33;
  padding: 8px;
}

.SearchBar input {
  width: 90%;
  border: none;
  background-color: #202c33;
  margin-left: 25px;
  outline: none;
  color: white;
}

.search {
  font-size: 14px !important;
}

.search-animate {
  transform: rotate(30);
}

.animate-search {
  animation-name: anim1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.deanimate-search {
  animation-name: deanim1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#searchIcon {
  position: absolute;
  opacity: 1;
}
#arrowIcon {
  transform: rotate(-70deg);
  opacity: 0;
}
.animate-arrow {
  animation-name: anim2;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.deanimate-arrow {
  animation-name: deanim2;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes anim1 {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.5;
    transform: rotate(60deg);
  }
  60% {
    opacity: 0.5;
    transform: rotate(120deg);
  }
  80% {
    opacity: 0.5;
    transform: rotate(140deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes deanim1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
    transform: rotate(140deg);
  }
  40% {
    opacity: 0.5;
    transform: rotate(120deg);
  }
  60% {
    opacity: 0.5;
    transform: rotate(60deg);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes anim2 {
  0% {
    opacity: 0.5;
    transform: rotate(-50deg);
  }

  40% {
    opacity: 0.5;
    transform: rotate(-30deg);
  }
  60% {
    opacity: 0.7;
    transform: rotate(-10deg);
  }
  80% {
    opacity: 0.5;
    transform: rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes deanim2 {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  40% {
    opacity: 0.5;
    transform: rotate(-5deg);
  }
  60% {
    opacity: 0.7;
    transform: rotate(-10deg);
  }
  80% {
    opacity: 0.5;
    transform: rotate(-30deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-50deg);
  }
}
